body{background-image:url(./3.jpg);background-position:center center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;background-color:#CCCCCC;}
span{font-family: "隶书", "宋体"; color:#006666;font-size:50pt;}
	a{position:absolute;top:85pt;left:1400pt;}
	a{font-family: "隶书", "宋体"; color:bule;font-size:18pt;}
span{position:absolute;top:30pt;left:500pt;}