a{font-family: "隶书", "宋体"; color:#000000;font-size:25pt;}
body{background-image:url(./3.jpg);background-position:center center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;background-color:#CCCCCC;}
p{font-family: "隶书", "宋体"; color:#000000;font-size:35pt;}
