th,input,a,option,select{font-family: "隶书", "宋体"; color:#000000;font-size:25pt;}
table,form{margin-top:100px;}
body{background-image:url(../3.jpg);background-position:center center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;background-color:#CCCCCC;}
p{font-family: "隶书", "宋体"; color:#005555;font-size:100pt;}
h2{font-family: "隶书", "宋体"; color:#000000;font-size:35pt;}